.vscode
/__pycache__/
/nets/__pycache__/

# ignore all .jpg .xml .txt .zip files
*.jpg
*.xml
*.txt
*.zip

/test/
/val/

/img/
/logs/

/logs-no_iou_loss/
/logs-no_iou_and_project_loss/
/logs-all-modules/
/logs-three-scenes-pre/

/model_data/
/train-logs/