.vscode
/__pycache__/
/nets/__pycache__/

# ignore all .jpg .xml .txt .zip files
*.jpg
*.xml
*.txt
*.zip

/test/
/val/

/img/
/logs/
/logs-all-modules/
/logs-single-scene/
/logs-three-scenes-pre/
/model_data/
/train-logs/