.idea
/__pycache__/
/nets/__pycache__/

/DATAdevkit/DATA2021/
/DATAdevkit/TESTDATA2021/
/videos/

/batch_samples/

# ignore all .zip files
*.zip
*.rar

/test/
/val/

/logs/
/train-logs/

/model_data/*.pth
/model_data/*.tar

/0all-module-logs/
/1without-iou-logs/
/2without-iou-proj-module/
